body {
    font-family: sans-serif;
    font-family: "Quicksand", sans-serif;
    color: #333;
    text-indent: 1.5em;
    font-size: 1.1em;
    background-color: #eee;
    width: 96vw;
    max-width: 600px;
    margin: 0 auto;
  }
  span b {
    color: #000;
  }
  h1 {
    font-size: 1.8em;
    margin-bottom: 1.2em;
    color: deeppink;
  }
  div {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
  div:focus {
    outline: none;
  }
  div div {
    position: relative;
    background-color: deeppink;
    color: #fff;
    margin: 16px;
    border-radius: 999px;
    line-height: 3em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  div b {
    text-decoration: line-through;
    font-weight: normal;
    display: none;
  }
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  h2 {
    font-size: 0.8em;
    margin-bottom: 1.2em;
    color: rgb(240, 92, 171);
  }
  